/* styles/globals.css */
@import "tailwindcss";

body{
    background-color: #F8F2DC;
    margin:0;
    padding:0;
}
/* Tailwind CSS: Make sure it has enough space and is not hidden */
#webchat {
  position: fixed;
  bottom: 20px; /* Positioning the bubble at the bottom */
  right: 20px;  /* Positioning the bubble at the right */
  z-index: 1000; /* Ensure the webchat is on top of other elements */
  width: 350px; /* Set width for the bubble */
  height: 400px; /* Set height for the chat */
}
